MONGODB_URI=
MONGODB_DB_NAME=regnify_hr
MONGODB_EMPLOYEES_COLLECTION=employees
MONGODB_SIGNATURES_COLLECTION=signatures
MONGODB_DOCUMENT_AUDIT_COLLECTION=document_audit
MONGODB_HR_DATA_COLLECTION=hr_data
PUBLIC_BASE_URL=http://localhost:5000
PORT=5000
